#groo {
  position: absolute;
  left: 0;
  top: 0;
  overflow-x: hidden;
  overflow-y: visible;
  z-index: 1000;
}

.groo-item {
  position: absolute;
  font-size: 25px;
  line-height: 20px;
  z-index: 1000;
}

.groo-post-form {
  zoom: 1;
}

.groo-post-form * {
  display: block;
  float: left;
}

.groo-post-form .message {
  width: 300px;
  padding: 3px;
}

.groo-post-form .btn-send {
  display: inline-block;
  padding: 4px 8px;
  margin-bottom: 0;
  color: #fff;
  background-color: #428bca;
  border: 1px solid transparent;
  border-radius: 3px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.groo-post-form .color {
  width: 60px;
  padding: 3px;
  margin-left: 10px;
}

.groo-post-form .color-display {
  width: 20px;
  height: 20px;
  padding: 2px;
  background-color: #FFFFFF;
}
